
  <center>
      <div class="form1">
<form class="login-form"  name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      
  <mat-form-field class="login-full-width">
    <input matInput placeholder="User Name" [(ngModel)]="user.userName" name="userName" required>
    <mat-error >Username is required</mat-error>
    </mat-form-field>
<br>
<mat-form-field class="login-full-width">
 
    <input matInput  placeholder="Password" type = "password"  [(ngModel)]="user.password"  name="password" required>
    <mat-error >Password is required</mat-error>
</mat-form-field>
<br>
<mat-error  *ngIf="errorMessage">{{errorMessage}}</mat-error>
  <button mat-raised-button [disabled]="loading"  color="primary" type="submit">Login</button>
  
 
</form>
<a [routerLink]="['/register']" >Register</a>
</div>
</center>

